.post-display{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.gInfo-structure{
    display: flex;
    flex-direction: row;
}

.gInfo-leftSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1px;
}

.gInfo-rightSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 1px;
    
}

.gInfo-label{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.information-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.photo-section{
    border: 2px solid black;
    flex: 1;
    height: 100%;
}

.photo-section img, .photo-section video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    object-fit: cover;
}

.general-section{
    border: 2px solid black;
    flex: 25;
}

.description-section{
    border: 2px solid black;
    flex: 75;
}