<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="post.css">
    <title>Document</title>
</head>
<body>
    <div class = "post-display">
        <div class = "photo-section">
            <p>Photo here</p>
        </div>
        <div class = "information-section">
            <div class = "general-section">
                <p>general information ig</p>
            </div>

            <div class = "description-section">
                <p>description of pet</p>
            </div>
        </div>
    </div>
</body>
</html>